/* src/app/header/header.component.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background: linear-gradient(to right, #3b82f6, #1e3a8a);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar img {
  height: 40px;
  position: relative;
  left: 0;
  top: 0;
}

.navbar .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #3b82f6;
  color: #ffffff;
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  right: 0;
  width: 30px;
  height: 25px;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease;
}

.menu-toggle span {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-toggle:hover span {
  background-color: #3b82f6;
  transform: scale(1.2);
}

.menu-toggle.active {
  transform: rotate(90deg);
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-toggle.active:hover span {
  background-color: #ff6347; /* Change color on hover when active */
  transform: scale(1.2); /* Scale on hover when active */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 0.5rem; /* Espacio entre la imagen y el texto */
}

.logo-container span {
  color: #ffffff; /* Color del texto */
  font-size: 1.2rem; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

@media (max-width: 900px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: static;
    transform: none;
    margin-left: 0;
  }

  .navbar .nav-links.active {
    display: flex;
  }

  .navbar .nav-links a {
    margin-top: 1rem;
  }

  .navbar .nav-links a:first-child {
    margin-top: 1rem;
  }

  .menu-toggle {
    display: flex;
  }

  .logo-container {
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .logo-container img {
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 0.5rem; /* Añade un margen inferior */
  }

  .logo-container span {
    font-size: 1rem; /* Reduce el tamaño de la fuente */
    text-align: center; /* Centra el texto */
  }
}
