<!-- src/app/header/header.component.html -->
<nav class="navbar">
  <a routerLink="/" class="logo-container">
    <img src="./assets/images/project1.jpg" alt="Aitor Arias Benéitez">
    <span>Aitor Arias Benéitez</span>
  </a>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-links" [class.active]="menuActive">
    <a routerLink="/contact" class="nav-link">Contact</a>
    <a routerLink="/projects" class="nav-link">Projects</a>
    <a routerLink="/about" class="nav-link">About</a>
  </div>
</nav>
