<div class="about-container">
  <h2>╾ Under Maintenance ╼</h2>
  <h2>About Me</h2>
  <div class="profile">
    <img src="assets/images/aitor_foto_igeldo.jpg" alt="Profile Picture" class="profile-picture">
    <p class="description">Hi, I'm Aitor Arias Benéitez, a passionate developer with a love for creating interactive and modern web applications.</p>
  </div>
  <div class="social-icons">
    <a href="https://github.com/Aitooor" target="_blank" class="social-icon github">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/aitor-arias-benéitez-815607238" target="_blank" class="social-icon linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <div class="cards-container">
    <div class="skills">
      <h3>Skills</h3>
      <div class="card" *ngFor="let skill of skills">
        <p>{{ skill }}</p>
      </div>
    </div>
    <div class="hobbies">
      <h3>Hobbies</h3>
      <div class="card" *ngFor="let hobby of hobbies">
        <p>{{ hobby }}</p>
      </div>
    </div>
  </div>
</div>
