/* src/app/main-page/main-page.component.css */
.projects-section {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem; /* Espacio debajo de "My Projects" */
}

.projects-section h2 {
  font-size: 4rem; /* Increase font size */
  color: #1e3a8a; /* Darker blue color */
  margin-bottom: 1.5rem; /* Space below the title */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Add more pronounced text shadow */
  background: linear-gradient(to left, #1e3a8a, #3b82f6); /* Add gradient to text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 400px; /* Increase the width of the card */
  height: 400px; /* Increase the height of the card to account for hover effect */
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 1.5rem; /* Space below each card to account for hover effect */
  background-size: cover; /* Adjust the background of the card */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #fff; /* Change text color to white */
  background: rgba(0, 0, 0, 0.7); /* Add semi-transparent black background */
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center; /* Center the text */
  width: 90%; /* Adjust width to fit within the card */
  align-self: center; /* Center horizontally */
}

.project-card p {
  font-size: 1rem;
  color: #333; /* Darker text color for better contrast */
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para el texto */
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: auto; /* Push the description to the bottom */
  text-align: center; /* Center the text */
}

.project-card button {
  align-self: center; /* Center the button horizontally */
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #1e3a8a, #3b82f6); /* Blue gradient background */
  color: white; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem; /* Increase font size */
  margin-top: 1rem; /* Add space above the button */
}

.project-card button:hover {
  background: linear-gradient(to left, #1e3a8a, #2563eb); /* Darker blue gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.introduction-button-right {
  padding: 0.75rem 1.25rem; /* Ajusta el padding para que sea consistente */
  background: linear-gradient(to left, #1e3a8a, #3b82f6); /* Blue gradient background */
  color: white; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 2.0rem; /* Space below the button to account for hover effect */
}

.introduction-button-left {
  padding: 0.75rem 1.25rem; /* Ajusta el padding para que sea consistente */
  background: linear-gradient(to right, #1e3a8a, #3b82f6); /* Blue gradient background */
  color: white; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 2.0rem; /* Space below the button to account for hover effect */
}

.introduction-button-right:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb); /* Darker blue gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.introduction-button-left:hover {
  background: linear-gradient(to left, #1e3a8a, #2563eb); /* Darker blue gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.view-more {
  padding: 0.75rem 1.25rem; /* Ajusta el padding para que sea consistente */
  background: linear-gradient(to left, #1e3a8a, #3b82f6); /* Blue gradient background */
  color: white; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 2.0rem; /* Space below the button to account for hover effect */
}

.view-more:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb); /* Darker blue gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tech-badge {
  background: linear-gradient(to left, #1e3a8a, #2563eb);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.position-badge {
  background: linear-gradient(to left, gray, #4c4c4c);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Remove top margin */
  text-align: center; /* Center the text */
  background: linear-gradient(to bottom, #f0f0f0, #d9d9d9); /* Modern gray gradient background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.introduction-section .button-container {
  display: flex;
  gap: 1rem; /* Space between buttons */
  margin-top: 2rem; /* Add space above the buttons */
}

.introduction-section .view-more {
  margin: 0;
  padding: 0.75rem 1.25rem; /* Ajusta el padding para que coincida con el hover */
  background: linear-gradient(to left, #1e3a8a, #3b82f6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.introduction-section .view-more:hover {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
  transform: translateY(-2px); /* Slight lift on hover */
}

.introduction-section h1 {
  font-size: 2.5rem;
  color: #1e3a8a;
}

.introduction-section p {
  font-size: 1.2rem;
  color: #333;
}

.social-icon {
  margin-left: 1rem; /* Space to the left of the icons */
  margin-bottom: 1rem; /* Space below the icons */
  font-size: 3rem; /* Increase the size of the icons */
  transition: transform 0.3s, color 0.3s;
}

.social-icon.github {
  color: #333; /* GitHub color */
}

.social-icon.github:hover {
  color: #5c5c5c; /* Lighter GitHub color on hover */
}

.social-icon.linkedin {
  color: #0077b5; /* LinkedIn color */
}

.social-icon.linkedin:hover {
  color: #005582; /* Darker LinkedIn color on hover */
}

@media (max-width: 768px) {
  .introduction-section {
    padding: 1rem;
    text-align: center;
  }

  .introduction-section h1 {
    font-size: 2rem;
  }

  .introduction-section p {
    font-size: 1rem;
  }

  .button-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .projects-section {
    padding: 1rem;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }

  .project-card button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
